@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');



.nav{
    background-color: rgb(2, 146, 138);
}

.Jumbotrons{
    background-color: rgb(0, 60, 80);
}

.w-25 {
    max-width: 400px !important;
    
} 

.Jumbotrons h1{
    margin: 0 !important;
}
#carouselExampleIndicators .carousel-indicators button{
    width: 1.2em;
    height:1.2em;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
}

#carouselExampleIndicators button{
    background-color: rgba(0, 0, 0, 0.8);
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.foto-viaggi{
    height: 200px;
    object-position: center;
}

.colore-page{
    background-color: rgb(229, 244, 243); 
}

.colore-bottone{
background-color: rgb(2, 146, 138);
    
}

.colore-titolo{
    color: rgb(0, 60, 80);
}

.colore-titolo-2{
    color: rgb(2, 146, 138);

}

.dimensione-testo{
    font-size: 0.8em;
}

.dimensione-testo-prezzo{
    font-size: 0.6em;
    color: rgb(0, 60, 80)
}

.mb-2{
    margin-bottom: 0 !important;
}


@media screen and (max-width:500px) and (min-width: 200px) {
    #offerta-del-giorno{
        display: none;
    }

    .btn-footer{
        line-height: 0px; 
    }
}

.btn-footer{
    line-height: 50px; 
}

@media screen and (max-width: 713px) {

    .bottone-footer {
        font-size: 0.7em;
        width: 200px;
        height: 50px;
        justify-content: center;
        line-height: 35px;
    }
}

@media screen and (max-width: 457px){
    .bottone-footer {
        font-size: 0.6em;
        width: 260px;
        height: 50px;
        justify-content: center;
        line-height: 30px;
    }
}

@media screen and (max-width: 364px){
    .bottone-footer {
        font-size: 0.6em;
        width: 290px;
        height: 50px;
        justify-content: center;
        line-height: 30px;
    }
}


.logo-profilo{
    width: 50px;
    height: 50px;
    
}

.logo-profilo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.recensioni-box{
    width: 100%;
    height: 100px;
}

.recensioni{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link{
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.paese img{
    width: 1.3em;
}



.bottone{
    width: 100px;
    height: 50px ;
    background-color: rgb(229, 244, 243);
    color: rgb(2, 146, 138);
    border-radius: 60px;
    margin-top: 20px;
    margin-left: 50px;
}

.text-left{
    color: white;
    padding-top: 10px;
}

.badge{
    color: red;
}














